.root {
    -fx-background-color: #cf4036;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#searchButton {
    -fx-background-color: #41cc5f;
    -fx-font-weight: bold;
}

.bold-label {
    -fx-font-weight: bold;
}

.list-view {
    -fx-background-color: #cf4036;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.list-cell {
    -fx-text-fill: white;
    -fx-background-color: #cf4036;
}

.table-view .column-header {
    -fx-background-color: #544644;
}

.table-row-cell:odd {
    -fx-background-color: #cf4036;
}